{{ $original := .Page.Resources.GetMatch (printf "*%s*" (.Get 0)) }}
{{ $command := .Get 1 }}
{{ $options := .Get 2 }}
{{ $alt := .Get 3 }}
{{ $caption := .Get 4 }}

{{ if eq $command "Fit"}}
	{{ .Scratch.Set "image" ($original.Fit $options) }}
{{ else if eq $command "Resize"}}
	{{ .Scratch.Set "image" ($original.Resize $options) }}
{{ else if eq $command "Fill"}}
	{{ .Scratch.Set "image" ($original.Fill $options) }}
{{ else }}
	{{ errorf "Invalid image processing command: Must be one of Fit, Fill or Resize."}}
{{ end }}

{{ $image := .Scratch.Get "image" }}


<figure style="display: table; text-align: center; font-style: italic; font-size: smaller; text-indent: 0; background-color: #f9f9f9; border: thin silver solid; margin: 0.5em; padding: 0.5em;">
	<img style="max-width: 100%; width: auto; height: auto;" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}">
	<figcaption>
		{{ $caption }}
	</figcaption>
</figure>
	

<!-- {{/* Example: {{< imgproccaption sunset Resize "300x" "My  Image" />}} */}} -->
